.todolist-div {
    width: 50%;
    text-transform: capitalize;
    margin-left: 25%;
    border: 2px solid #cccccc;
    overflow: auto;
    height: 500px;
    margin-top: 4%;
}

button {
    margin-left: 50%;
    margin-bottom: 20px;
}